::selection{
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
}


.markdown > *{
    all: revert;
}

.codeblock span{
    
    white-space: pre-wrap; /* Allows wrapping inside the code block */
    word-break: break-word; /* Ensures long words break if necessary */
    overflow-wrap: break-word;
    @apply font-geistmono;
}

